################################################################################
# Variables used to assist PingOne operations.  If you are not using a PingOne
# environment, you can ignore these settings.
################################################################################

PINGONE_API_URL=https://api.pingone.com/v1
PINGONE_AUTH_URL=https://auth.pingone.com
PINGONE_ENVIRONMENT_ID=
################################################################################
# Variables used to assist Ping DevOps operations.
################################################################################

PING_IDENTITY_ACCEPT_EULA=YES
PF_LICENSE_PATH=pingfederate.lic
PING_IDENTITY_DEVOPS_USER=
PING_IDENTITY_DEVOPS_KEY=
PING_IDENTITY_DEVOPS_HOME=src
PING_IDENTITY_DEVOPS_REGISTRY=docker.io/pingidentity
PING_IDENTITY_DEVOPS_TAG=edge

################################################################################
#              Ping Identity Customized Variables
################################################################################
# Additional variables that you would like to set for DevOps Containers or
# optional variables to help with PingOne credentials/output.
#
# Examples include:
#     PINGONE_USERNAME=jsmith@example.com
#     PINGONE_PASSWORD=......... (*** CONSIDERED UNSECURE ***)
#
#     PINGCTL_OUTPUT_COLUMNS_USERS=FirstName:name.given,LastName:name.family
#     PINGCTL_OUTPUT_SORT_USERS=name.given
#
# These are often set to nothing, unless you are using advanced features
################################################################################

PINGCTL_OUTPUT_COLUMNS_USERS=FirstName:name.given,LastName:name.family
PINGCTL_OUTPUT_SORT_USERS=name.given
